@import "tailwindcss";


/* Comfortaa */

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/comfortaa/Comfortaa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/comfortaa/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/comfortaa/Comfortaa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


/* Frank Ruhl Libre */

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("./assets/fonts/FrankRuhl/FrankRuhlLibre-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("./assets/fonts/FrankRuhl/FrankRuhlLibre-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("./assets/fonts/FrankRuhl/FrankRuhlLibre-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("./assets/fonts/FrankRuhl/FrankRuhlLibre-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("./assets/fonts/FrankRuhl/FrankRuhlLibre-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}


/* Patrick Hand */

@font-face {
  font-family: "Patrick Hand";
  src: url("./assets/fonts/PatrickHand/PatrickHand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Browns */
  --color-darkwood: #453228;
  --color-walnut: #664839;

  /* Light surfaces */
  --color-parchment: #E5D4C4;
  --color-cream: #EEF3E4;

  /* Greens */
  --color-mintcream: #EEF3DA;
  --color-lime: #DCEB86;
  --color-sage: #909977;
  --color-olive: #60674D;
  --color-forest: #3F584D;

  /* Accents */
  --color-dustyrose: #CDADAC;
  --color-softpink: #E9B8CA;

  /* Text */
  --color-ink: #2C3031;

  /* Fonts */
  --font-heading: "Frank Ruhl Libre", serif;
  --font-ui: "Comfortaa", sans-serif;
  --font-handwritten: "Patrick Hand", cursive;
}

.app-background {
  background-color: var(--color-mintcream);
}

@media (min-width: 1024px) {
  .app-background {
    background-image: var(--app-stripes);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Cache la scrollbar tout en gardant le scroll horizontal */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Cache la croix native ajoutée par le navigateur aux inputs search. */
input[type='search']::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}